@media screen and (max-width:1300px){
    .container{
        max-width:980px;
    }
}

@media screen and (max-width:985px){
    .container{
        max-width:800px;
    }
}



@media screen and (max-width:425px){
   .header-text{
       display:none;
   }
   .container{
       
       max-width: 350px;
   }

}

@media screen and (max-width:375px){
    .header-logo img{
        width:91px;
        margin-left:20px;
       
    }
    .header{
        padding-top: 17px;
    }
    .container{
        width:100%;
        max-width:340px;
    }
    .button{
        width:139px;
        margin-right: 23px;
    }
}